<!-- <ion-item
  *ngIf="message"
  [routerLink]="'/message/' + message.id"
  [detail]="false"
>
  <div slot="start" [class]="!message.read ? 'dot dot-unread' : 'dot'"></div>
  <ion-label class="ion-text-wrap">
    <h2>
      {{ message.fromName }}
      <span class="date">
        <ion-note>{{ message.date }}</ion-note>
        <ion-icon
          name="chevron-forward"
          size="small"
          *ngIf="isIos()"
        ></ion-icon>
      </span>
    </h2>
    <h3>{{ message.subject }}</h3>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
      veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
      commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
      velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
      cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id
      est laborum.
    </p>
  </ion-label>
</ion-item> -->
<!-- <ion-header> -->
<!-- <ion-navbar>
    <ion-title> Test API IONIC </ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding>
  <div class="post" *ngFor="let post of aPosts">
    <h2>{{ post.title }}</h2>
    <p>{{ post.id }}</p>
  </div>
</ion-content> -->
<ion-header class="ion-no-border">
  <ion-toolbar>
    <!-- <ion-buttons slot="start">
      <ion-button color="primary">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons> -->
    <ion-buttons slot="end">
      <ion-button routerLink="/signup">Sign up</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="header">
    <h1>Login</h1>
    <img src="assets/logo1.jpg" />
  </div>

  <form id="form">
    <app-input placeholder="Email"></app-input>
    <app-input type="password" placeholder="Password"></app-input>
    <ion-button expand="block" shape="round">Login</ion-button>
  </form>
</ion-content>
